#sidenav-permanent {
    position: fixed;
    top : 0;
    left : 0;
    width: 50px;
    height: 100%;
    background-color: rgb(234, 238, 26);
}
#sidenav {
    position : fixed;
    top: 0;
    left: 50px;
    width: 120px;
    height: 100%;
    background-color: burlywood;
}
#sidenav #button-panel {
    background-color: rgb(163, 247, 8);
    width: 25px;
    height: 100%;
    position: absolute;
    right: 0px;
}
#sidenav #button-panel #open {
    position: absolute;
    top: 120px;
    left: 5px;
}
#sidenav #button-panel #close {
    position: absolute;
    top: 140px;
    left: 5px;
}
#sidenav #sidenav-panel {
    position: absolute;
    right: 25px;
    height: 100%;
    width: 200px;
    
}

#sidenav #sidenav-panel #top-panel {
    height:50px;
    width:95px;
}

#sidenav #sidenav-content a {
    display: block;
    text-align: center;
}

#sidenav-permanent a {
    display: block;
}

i.fas.fa-book {
    margin: 5px;
    
    font-size: 3em;
    color: Tomato;
}

i.fas.fa-align-left {
    
    font-size: 3em;
    margin: 20px 5px;
}

i.fas.fa-folder-plus {
    font-size: 2em;
    margin: 5px 5px;
    position: absolute;
    top: 0px;
    right: 0px;
}

i.fa-folder-plus {
    position: absolute;
    top:0px;
    right:0px;
}

h1 {
    
    margin-top: 10px;
}
#notearea {
    margin-left: 195px;
    margin-top: 10px;
    height: 100px;
    width: 150px;
}
